
body {
    background-color: #18df29;
}


body {
    background-color: #00cae4;
}


body {
    background-color: #18df29;
<<<<<<< HEAD
}
||||||| 9a01c93
}
sidebar
=======
}

>>>>>>> 5105b901cdb86d61f213e50d1835a8194d075933
